/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
font-family: Arial, Helvetica, sans-serif;
scroll-behavior: smooth;

}
/* Chung */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
} 
.text-center{
    text-align: center !important;
}
.btn{
    background-color: black;
    color: #fff;
    margin-top: 15px;;
    text-decoration: none;
    padding:8px 16px ;
    display: inline-block;
    border: none;
    -webkit-appearance: none;
    }
    .btn:hover{
       background-color: #ccc;
       color: #000;
       cursor: pointer;
        
        
    
    }
.mt-8 {
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px;
    float: right!important;
}
.mt-32{
    margin-top: 16px;
    float: right!important;
}

.row{
 margin-left:-8px ;
 margin-right: -8px;
}
.row::after{
    content: ;
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.33333%;
}
.col-full{
width: 100%;
}

.col-half{
    width: 50%;

}


/* Main */
#main{

}

#header{
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}
#nav{
    display: inline-block;
}

#nav .subnav{
    list-style-type: none;


}
#nav > li{
    display: inline-block;
}
#nav li{
    
    position: relative;
    
}
#nav > li > a{
color: #fff;
text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav{
 display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{

color:#000;
background-color:#ccc;

}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0  20px rgba(0, 0, 0.3);


}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    /* display: none; */

}
#nav .icon{
font-size: 10px;

}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;

}

#header .mobile-menu-btn,
#header .search-btn{
float: right;
line-height: 46px;
padding: 0px 21px;


}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
    


}
#header .mobile-menu-btn:hover .menu-icon {
    background-color: #ccc;
    color: #000;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;

}

#slider{
/* min-height: 500px;
background-color: rgb(51, 50, 50); */
position: relative;
margin-top: 46px;
padding: 50%;
background: url('../img/190083305_211038920744690_3357881487123512003_n.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    

}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;

}

#content{
    /* height: 1000px; */


}
#content .content-section{
width: 800px;
max-width: 100%; 
padding: 64px 0px 112px;
margin-left: auto;
margin-right: auto;
padding-left: 16px;
padding-right: 16px;
}

#content .section-heading{
 text-align: center;
 letter-spacing: 4px;
 font-size: 30px;
 font-weight: 500;
  
}

#content .section-sub-heading{
text-align: center;
font-style: italic;
opacity: 0.5;
margin-top: 25px;
font-size: 15px;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list{
margin-top: 32px;
}


#content .member-nam{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius:4px;

}
.tour{
    background-color: #000;
    
    /* padding: 64px 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; */
}
.tickets-list{
    background-color: #fff;
    margin-top: 45px;
    list-style-type: none;
}
.tickets-list li{
font-size: 15px;
/* opacity: 0.7; */
color: #757575;
padding:8px 16px ;
border-bottom: 1px solid #ddd;

}

.tickets-list .sold-out{
background-color: #f44336;
color: #fff;
margin-left: 16px;
padding:3px 8px ;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -2px;
}
.places-list{
    margin-top: 16px;
    
    
}


.place-img{
width: 100%;
display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
background-color: #fff;
padding: 16px;
font-size: 15PX;
}

.place-heading{
font-size: 15px;
font-weight: 550;
}

.place-time{
margin:15px 0px;
color: #757575;

}

.place-desc{
    line-height: 1.4;
}


/* contact row */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
    margin-top: 51px;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: #101aef;
    opacity: 0.7;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
   font-size: 15px; 
   padding: 32px 0px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 8px;
}

/* map-setion */
.map-setion img{
    width: 100%;

}

#footer{
    padding: 64px 16px;
    text-align: center;

}
#footer .socials-list{
    font-size: 24px;
    

}
#footer .socials-list a{
    color: #000;
    text-decoration: none;
    opacity: 0.6;
    
}

#footer .socials-list a:hover{
    opacity: 0.4;

}
#footer p{
    margin-top: 15px;
}
#footer p a{
    color: #000;
    opacity: 0.6;
    text-decoration: none;
}
#footer p a:hover{
    opacity: 1;
}

.modal{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0 ,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
display: flex;
}

.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    animation: modalFadeIn ease 0.8s;
}
.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    
}
.modal-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.6;
}
.modal-close:hover{
    opacity: 1;
} 
.modal-body {
    padding: 30px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
input.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 40px;

}
#Buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    text-transform: uppercase;
    padding: 19px;
    cursor: pointer;
    color:#fff;
}
#Buy-tickets:hover {
    opacity: 0.8;
    background: #ccc;
}
.modal-footer{
    padding: 16px;
    text-align: right;
   
}
a{
    color: #2196F3  
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-200px);

    }
    to{
        opacity: 1;
        transform: translateY(0px);

    }
}
